# Build output
build/
dist/
target/
out/
bin/

# Packages
*.jar
*.war
*.zip
*.exe

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

keyfor attance/*.json
javafx-sdk-21.0.2/
*.dll
bin/

keyfor attance/attendancesoftware-0c660c9f2eae.json
javafx-sdk-*/
*.zip
*.jar
*.exe
dist/
build/
